@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');

*{
    color: black;
    margin: 0;
    padding: 0;
}

body{
    font-family: Source Sans Pro;
    background-color: #eee;
    text-align: center;
    padding-left: 20%;
}

header{
    font-family: Abril Fatface;
}

.date{
    color: #777;
    text-align: left;
}


h1{
    text-align: center;
    padding-bottom: 1em;
}

h2, h4, h5{
    font-family: Roboto Slab;
    text-align: left;
}

h2{
    padding-top: 1em;
    padding-bottom: 0.5em;
}

h4{
    padding-bottom: 1em;
}

h5{
    color: #dd3232;
    padding-bottom: 1.5em;;
}

.newspaper-container{
    background-color: white;
    box-shadow: #ddd;
    width: 700px;
    border-radius: 10px;
    padding: 25px;
}

nav{
    border-top: solid 2px grey;
    border-bottom: solid 2px grey;
    position: sticky;
    top: 0;
    background-color: white;
}

nav a{
   color: #777;
   text-decoration: none;
}

li{
    list-style-type: none;
    margin-left: 5px;
    display: inline-block;
    padding: 0.25em;
}

main p{
    border-bottom: solid 2px grey;
    padding: 1em;
}

section p{
    padding-top: 1em;
}

p{
    /* color: #dd3232; */
    text-align: justify;
}

main img{
    width: 100%;
    height: auto;
}

.more-articles p{
    width: 300px;
}

section{
    display: inline-block;
    padding: 1em;
   
}

.comingSoon p{
    width: 190px;
}

footer nav{
    font-family: Source Sans Pro;
    border-top: solid 2px grey;
    border-bottom: solid 2px grey;
    text-align: justify;
    width: 750px;
    position: relative;
    z-index: 1;
    top: -6px; hides /*bottom radius */
}